.bgCanvas{
	width: 120%;
	top: 0;
	left: -10%;
	height: 6000px;
}

#line1{
	transform: translateZ(0);
}
#line2{
	transform: translateZ(0);
}
#line3{
	transform: translateZ(0);
}
#line4{
	transform: translateZ(0);
}
#line5{
	transform: translateZ(0);
}
#line6{
	transform: translateZ(0);
}
#line7{
	transform: translateZ(0);
}
#line8{
	transform: translateZ(0);
}
#line9{
	transform: translateZ(0);
}
#line10{
	transform: translateZ(0);
}