@font-face {
	font-family: "Ailerons";
	src: url("font/Ailerons.otf");
}
@font-face {
	font-family: "Arciform";
	src: url("font/Arciform.otf");
}
@font-face {
	font-family: "Vera";
	src: url("font/Vera.ttf");
}