#continue{
	display:none;
	position: absolute;
  left: 50%;
  top: 80%;
}

.enter_btn {
	background: transparent;
  border: 4px solid #ffffff;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: -43px;
  cursor: pointer;
}

#contents{
	display: none;
	position: absolute;
	left: 0;
  top: 20%;
  z-index: 0;
  width: 100%;
  /*
  background: #e9ecef; 
  background: rgba(233,236,239, 0.4);
  height: 65%;*/
}

/* Section Related CSS */

.section-seperator-left { 
    height: 2px;
    border: 0;
    background: #ffffff;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    float: left;
    position: absolute;
  }
.section-seperator-right { 
    height: 2px;
    border: 0;
    background: #ffffff;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.8)));
    float: right;
  }

  /* Heading */
  .headings{
    margin-top: 50px;
    margin-left: 50px;
    height: 100%;
  }
  .heading{
    color: #ffffff;
    font-size: 60px;
  }
  .headingChild{
    color: #ffffff;
    font-size: 40px;
  }
  /* Heading */

  /* Events */
  .eventHead{
    font-size: 30px;
    color: #fff;
  }
  .eventLogo{
    float: right;
    padding-top: 20px;
    padding-right: 10px;
  }
  .eventContainer{
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden; 
  }
  .eventContainer hr { 
    height: 3px;
    border: 0;
    background: #ffffff;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255,255,255,0)), to(rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.6)));
  }
  .eventListElement{
    position: relative;
  }
  /*.eventListElement :hover~.eventViewButton{
    display: inline-block;
  }*/
  .eventListElement ul {
    list-style: none;
  }
  .eventViewButton{
    width: -webkit-fill-available;
    background: transparent;
    border: 4px solid #ffffff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  .eventRegisterButton{
    width: -webkit-fill-available;
    background: transparent;
    border: 4px solid #ffffff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
  }
  .eventImg{
    max-width: 100%;
    height: auto;
  }
  /* Events */

  /* Events Details */
  #eventDetails{
    display:none;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow-y: scroll;
    background-color: rgba(51,51,51,1);
    color: #fff;
  }
  .eventDetailsContents {
    position: relative;
    margin-top: 4rem;
  }
  .closeEventDetail{
    font-size: 2rem;
    cursor: pointer;
  }
  /* Events Details */

  /* Sponsors */
  .sponsorItem{
    width: 20%;
  }
  .sponsorImg{
    width: 100%;
    height: auto;
  }
  /* Sponsors */

  /* Register */
  .register{
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(10,10,10,0.4)), to(rgba(10,10,10,0.4)), color-stop(50%, rgba(10,10,10,0.6)));;
    margin-top: 3%;
    padding: 0;
    position: relative;
  }
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
    font-size: 0.8rem;
}
.register-right{
    border-left: 3px white;
    border-style: solid;
    font-size: 0.8rem;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 0;
    border: 4px solid #ffffff;
    padding: 2%;
    background: none;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #ffffff;
}
  /* Register */

/* Section Related CSS */

.fill_parent{
  display: table-cell;
}

.cleared{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}

/* Menu Related CSS */
.menuicon{
  top: 5%;
  left: 5%;
  margin-top: 10px;
  margin-left: 8px;
}

  /* Large Screen Menu */
  #menuLg{
  	  display:none;
      position: fixed;
      left: 0%;
      top: 0%;
      width: 100%;
      z-index: 1;
  }

  .navbar {
    	overflow: hidden;
    	background-color: rgba(51,51,51,0.65);
    	position: fixed;
    	top: 0;
    	width: 100%;
    	margin-top: -12px;
      padding: .1rem 1rem;
      font-family: monospace;
  }

  .navbar a {
    	float: right;
    	display: block;
    	color: #f2f2f2;
    	text-align: center;
    	padding: 10px 10px;
    	text-decoration: none;
    	font-size: 17px;
  }

  .navbar a:hover {
    	background: #ddd;
    	color: black;
  }
  /* Large Screen Menu */


  /* Small Screen Menu */
  #menuSm{
      display:none;
      position: fixed;
      left: 0%;
      top: 0%;
      width: 100%;
      z-index: 1;
      overflow: hidden;
      background-color: rgba(51,51,51,0.8);
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: monospace;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
  /* Small Screen Menu */
/* Menu Related CSS */

/* Sideber Related CSS */
#leftSideber{
  display: none;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 0;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #b1d1d1;
  display: block;
  transition: 0s;
}

.sidebar a:hover {
  color: #ffffff;
  font-size: 35px;
  transition:0s;
  text-shadow: 2px 2px 5px rgb(246,5,10),-2px 2px 5px rgb(30,242,241);
  background-color: rgb(256,256,256,0.5)
}
/* Sideber Related CSS */

/* Text Related CSS */
.text_body{
	font-size: 20px;
  text-align: justify;
  color: #fff;
}
.text_body_centered{
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.text_head{
	font-size: 30px;
  color: #fff;
}
.headings{
  color: #fff;
}
/* Text Related CSS */

/* Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
    background-color: none;
  }

  /* Track #F5F5F5*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #eee; 
  }
/*Scrollbar*/