#continue{
	display:none;
	position: absolute;
  left: 50%;
  top: 80%;
}

.enter_btn {
	background: transparent;
  border: 4px solid #ffffff;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: -43px;
  cursor: pointer;
}

#contents{
	display: none;
	position: absolute;
	left: 12%;
  top: 20%;
  z-index: 0;
  /*
  background: #e9ecef; 
  background: rgba(233,236,239, 0.4);
  height: 65%;*/
  width: 75%;
}

/* Section Related CSS */
.headings{
  margin-top: 50px;
  margin-left: 50px;
  height: 100%;
}
.heading{
  color: #ffffff;
  font-size: 60px;
}
.headingChild{
  color: #ffffff;
  font-size: 40px;
}
/* Section Related CSS */

.fill_parent{
  display: table-cell;
}

.cleared{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}

/* Menu Related CSS */
.menuicon{
  top: 5%;
  left: 5%;
  margin-top: 10px;
  margin-left: 8px;
}

  /* Large Screen Menu */
  #menuLg{
  	  display:none;
      position: fixed;
      left: 0%;
      top: 0%;
      width: 100%;
      z-index: 1;
  }

  .navbar {
    	overflow: hidden;
    	background-color: rgba(51,51,51,0.65);
    	position: fixed;
    	top: 0;
    	width: 100%;
    	margin-top: -12px;
      padding: .1rem 1rem
  }

  .navbar a {
    	float: right;
    	display: block;
    	color: #f2f2f2;
    	text-align: center;
    	padding: 10px 10px;
    	text-decoration: none;
    	font-size: 17px;
  }

  .navbar a:hover {
    	background: #ddd;
    	color: black;
  }
  /* Large Screen Menu */


  /* Small Screen Menu */
  #menuSm{
      display:none;
      position: fixed;
      left: 0%;
      top: 0%;
      width: 100%;
      z-index: 1;
      overflow: hidden;
      background-color: rgba(51,51,51,0.8);
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
  /* Small Screen Menu */
/* Menu Related CSS */

/* Sideber Related CSS */
#leftSideber{
  display: none;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 0;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #b1d1d1;
  display: block;
  transition: 0s;
}

.sidebar a:hover {
  color: #ffffff;
  font-size: 35px;
  transition:0s;
  text-shadow: 2px 2px 5px rgb(246,5,10),-2px 2px 5px rgb(30,242,241);
  background-color: rgb(256,256,256,0.5)
}
/* Sideber Related CSS */

/* Text Related CSS */
.text_body{
	font-size: 20px;
  text-align: justify;
}
.text_body_centered{
  font-size: 20px;
  text-align: center;
}
.text_head{
	font-size: 30px;
}
/* Text Related CSS */