<div id="eventDetails" ng-style="{'background-image': 'url(' + eventDetails.bg[0] + ')'}">
<!--style="background-image: url('img/events/bg/bg_ashwamedha_1.jpg'); "-->
	<div class="container">
		<div class="eventDetailsContents">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<H1>{{eventDetails.name}}</H1>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<span class="closeEventDetail float-right" ng-click="close('eventDetails')">&times;</span>
				</div>
			</div>
			
			<div class="row fill_parent pt-1" style="margin-top: 3em;">
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
					<div id="eventAbout" class="row p-1 ml-1 eventNav" ng-show="eventDetails.about" ng-click="changeEventDetailContent('about')">About</div>
					<div id="eventFormat"  class="row p-1 ml-1 eventNav" ng-show="eventDetails.format" ng-click="changeEventDetailContent('format')">Format</div>
					<div id="eventRules"  class="row p-1 ml-1 eventNav" ng-show="eventDetails.rules" ng-click="changeEventDetailContent('rules')">Rules</div>
					<div id="eventContacts"  class="row p-1 ml-1 eventNav" ng-show="eventDetails.namePOC1" ng-click="changeEventDetailContent('contact')">Contact</div>
					<div class="row p-1 ml-1 eventNav" ng-show="eventDetails.smURL">
						<a ng-href="{{eventDetails.smURL}}" style="width:100%; color:#fff" target="_blank">
							<i style="color:#fff" class="fa fa-fw fa-facebook"></i>
							<span>Connect on Facebook</span>
						</a>
					</div>
					<div class="row p-1 ml-1 eventNav" ng-show="eventDetails.regURL">
						<a ng-href="{{eventDetails.regURL}}" target="_blank" style="width:100%">
							<button class="eventRegisterButton" style="margin-top:0px;">Register</button>
						</a>
					</div>

				</div>
				<div class="col-lg-9 col-md-9 col-sm-10 col-xs-11">
					<div id="detailsBox">
						<div  ng-bind-html="displayText"></div>
						<div id="eventContactsSection" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text_body">
							<div class="row">POC Details:</div>
							<div class="row mt-1 pt-1">
								{{eventDetails.namePOC1}}<br>
								{{eventDetails.emailPOC1}}<br>
								{{eventDetails.contactPOC1}}<br>
							</div>
							
							<div class="row pt-1"  style="margin-top: 2em;">
								{{eventDetails.namePOC2}}<br>
								{{eventDetails.emailPOC2}}<br>
								{{eventDetails.contactPOC2}}<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>