<div id="events" class="container">
	<hr class="section-seperator-left" data--10-bottom="width:0%" data-center-top="width:80%">
	<div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-5 mt-2 ml-2">
				<H1 class="headings">Flagship Events</H1>
			</div>
		</div>
		
		<div class="container eventContainer">
			<div ng-repeat="event in flagshipEvents">
				<hr>
				<div class="row eventListElement" ng-mouseenter="focusOver=event.name" ng-mouseleave="focusOver=''">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eventImg" ng-click="viewEventDetails(event)">
						<img ng-src="{{event.logo}}" width="75" class="eventLogo" onError="this.src = 'img/events/logo-def.svg'">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10" ng-click="viewEventDetails(event)">
						<div class="row eventHead">{{event.name}}</div>
						<div class="row text_body">{{event.tagline}}</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 float-right">
						<div class="row">
							<ul>
								<li><button class="eventViewButton" ng-show="focusOver==event.name" ng-click="viewEventDetails(event)">View</button></li>
								<li><button class="eventRegisterButton" ng-show="focusOver==event.name" ng-click="register('ashwamedha')">Register</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<hr>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-5 mt-2 ml-2">
				<H1 class="headings">Managment Events</H1>
			</div>
		</div>
		
		<div class="container eventContainer">
			<div ng-repeat="event in managmentEvents">
				<hr>
				<div class="row eventListElement" ng-mouseenter="focusOver=event.name" ng-mouseleave="focusOver=''">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eventImg" ng-click="viewEventDetails(event)">
						<img ng-src="{{event.logo}}" width="75" class="eventLogo">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10" ng-click="viewEventDetails(event)">
						<div class="row eventHead">{{event.name}}</div>
						<div class="row text_body">{{event.tagline}}</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 float-right">
						<div class="row">
							<ul>
								<li><button class="eventViewButton" ng-show="focusOver==event.name" ng-click="viewEventDetails(event)">View</button></li>
								<li><button class="eventRegisterButton" ng-show="focusOver==event.name" ng-click="register('ashwamedha')">Register</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<hr>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-5 mt-2 ml-2">
				<H1 class="headings">Cultural Events</H1>
			</div>
		</div>
		
		<div class="container eventContainer">
			<div ng-repeat="event in culturalEvents">
				<hr>
				<div class="row eventListElement" ng-mouseenter="focusOver=event.name" ng-mouseleave="focusOver=''">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eventImg" ng-click="viewEventDetails(event)">
						<img ng-src="{{event.logo}}" width="75" class="eventLogo">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10" ng-click="viewEventDetails(event)">
						<div class="row eventHead">{{event.name}}</div>
						<div class="row text_body">{{event.tagline}}</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 float-right">
						<div class="row">
							<ul>
								<li><button class="eventViewButton" ng-show="focusOver==event.name" ng-click="viewEventDetails(event)">View</button></li>
								<li><button class="eventRegisterButton" ng-show="focusOver==event.name" ng-click="register('ashwamedha')">Register</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<hr>
		</div>
	</div>
	<hr class="section-seperator-left" data--10-bottom="width:80%" data--10-top="width:0%">
</div>