<div id="events" class="container">
	<div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-5 mt-2 ml-2">
				<H1 class="headings">Events</H1>
			</div>
		</div>
		
		<div class="container eventContainer">
			<div>
				<hr>
				<div class="row eventListElement">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-click="viewEventDetails('ashwamedha')">
						<img src="img/logo-svg.svg" width="75" class="eventLogo">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10" ng-click="viewEventDetails('ashwamedha')">
						<div class="row eventHead">Ashwamedha</div>
						<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 float-right">
						<div class="row">
							<ul>
								<li><button class="eventViewButton" ng-click="viewEventDetails('ashwamedha')">View</button></li>
								<li><button class="eventRegisterButton" ng-click="register('ashwamedha')">Register</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<hr>

			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Gordian Knot</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>

			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Chankaya</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>

			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Klueless</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>
		
			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Finance League</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>
		
			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Kalpavriksha</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>
		
			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Chain Reaction</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>
		
			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Zero One Infinity</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>
		
			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Drona</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>
		
			<div class="row eventListElement">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img src="img/logo-svg.svg" width="75" class="eventLogo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row eventHead">Jigyasa</div>
					<div class="row text_body">Congue nec, ullamcorper, consectetuer mollis pulvinar. Fusce purus rutrum pretium sem sit litora libero id ligula dignissim amet, duis. Donec.
					</div>
				</div>
			</div>

			<hr>
		
		</div>
	</div>
</div>